form#contact-form(novalidate, action="http://sfdevlabscontact.herokuapp.com", method="POST")

  input._hidden(type="text", value="", name="redirect_url", data-val="redirect_url")

  input._hidden(type="text", value="", data-val="honey")

  input(type="text", name="name", value="", placeholder="Your Name", data-val="required")

  input.val-email(type="email", name="email", value="", placeholder="Email", data-val="required")

  textarea(type="text", rows="5", name="message", placeholder="How can we help you?", data-val="required")

  div.text-right(data-val="notice")

  .button.pull-right.md-close(data-val="submit") Contact us