extends layout

block title
  title roka. / #{page.title}
  meta(property='og:title', content='roka. / #{page.title}')

block content
  article.content
    
    header
      h2 #{page.title}
    
    section
      != page.html

    .clear
